{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet"  href="{% static 'css/newhome.css' %}">
<!-- <link rel="stylesheet"  href="{% static 'css/home.css' %}"> -->
<div class="parallax">
<!-- <div class="background2"> -->
<!-- <img  style="max-height: 600px;" width="100%;" background-position="transparent" src="{% static 'images/tra.jpg' %} "> -->
<!-- <img style="max-height: 550px;" width="100%;" src="https://www.wallpapertip.com/wmimgs/155-1554570_indian-train-images-hd.jpg" > -->
<h1 class="para">welcome to PRCTC, book your train now and get extra benefits</h1>
{% csrf_token %}
<div class="card1" style="width:500px;">
  <div class="card-body">
    <form action="/eticket/search-result/" method="GET">
      <h1 class="book">BOOK TICKETS</h1><br>
      <label for="exampleInputEmail1" class="form-label">SOURCE</label>
      <select class="form-select" id="validationDefault04" style="width:400px" name="source">
        {% for t in trains %}
        <option value="{{ t }}">{{ t.source}}</option>
        {% endfor %}
      </select></br>
      <label for="exampleInputEmail1" class="form-label">DESTINATION</label>
      <select class="form-select" id="validationDefault04" style="width:400px" name="destination">
        {% for t in trains %}
        <option value="{{t}}">{{ t.destination }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="bntn btn-primary" style="margin-top: 50px">SEARCH
      </button>
    </form>
  </div>
</div>
<!-- </div> -->

<a href=""></a>

<h1 style=" margin-left:340px; margin-top:50px; color:white; ">
  Have you not found the right one??
</h1>
<h1 style="margin-left:340px;color:white;">
  Find a service suitable for you here.
</h1>


<a href="https://www.goindigo.in/"><i style="margin-left:250px;margin-top: 80px; " class="fas fa-plane-departure fa-5x"></i></a>

<a href="https://www.trivago.in/"><i style="margin-left:90px; margin-top: 80px; " class="fas fa-hotel fa-5x"></i></a>

<a href="https://www.redbus.com/"><i style="margin-left:90px; margin-top: 80px; " class="fas fa-bus-alt fa-5x"></i></a>

<a href="https://www.zomato.com/akola/restaurants?context=delivery"><i style="margin-left:90px; margin-top: 80px; "class="fas fa-utensils fa-5x"></i></a>

<a href="https://www.gifts.com/"><i style="margin-left:90px; margin-top: 80px;" class="fas fa-gifts fa-5x"></i></a>
<pre class="tab" style="margin-left:230px; color:white; margin-top: 30px;">  flight booking            hotel booking              bus                    food                   gifts</pre>


<h1 style=" margin-top: 100px; margin-left: 560px">HOLIDAYS</h1>
  
<div class="container">
  <div class="row">
    <div class='col-3 my-17' >
      <div class="card mx-auto" style="width: 16rem;">
        <div class="card-body ">
          <h3> Get confirmed IRCTC ticket bookings</h3><br>Quick book & Increase your chance of getting confirmed IRCTC train tickets
          <br><br>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

    <div class='col-3 my-17'>
      <div class="card mx-auto" style="width: 16rem;">
        <div class="card-body">
          <h3>Easy & secure payment done </h3><br>gateway a single click train ticket booking system. Now book tickets at your convenience and pleasure</br></br>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

    <div class='col-3 my-17' >
      <div class="card mx-auto" style="width: 16rem;">
        <div class="card-body">
          <h3>Confirmed PNR status, LiveTrain status & much more</h3>
          Check out exciting new features for your quick & easy train ticket bookings!</br></br>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

    
    <div class='col-3 my-17'>
      <div class="card mx-auto" style="width: 16rem;">
        <div class="card-body">
          <h3>Instant Refund & Cancellation IRCTC train tickets</h3>
          Pay through any payment mode & avail instant ticket refund and cancellation</br></br>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>

</div>
</div>

<!-- parallax div closed -->
</div> 
    

{% endblock content %}