{% extends 'base.html' %}
{% block content %}

<div class='col-6 mx-auto my-5'>
  <div class="card broder-info p-5">  
    <div class="h4 alert alert-success text-center" role="alert" >Login Page</div>
    <form action="." method="POST" name="loginform" enctype="multipart/form-data">
      {% csrf_token %}
      <div class='col-6 mx-auto my-5'>
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" name="user_name"   aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password">
            </div></BR>
            <button type="submit" class="btn btn-primary">LOGIN</button>
          </form>
        </div>
                  


{% endblock content %}