.parallax{
background-image:url(../images/tr.jpg);
background-color: black;
min-height: 600px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.background2{
	/*background-image:url(../images/rr.jpg);*/
	width : 1340px;
	height : 700px;
	background-size: 100%;
	}

.card1{
    height:420px;
    width:300px;
	margin-top: 550px;
	margin-left: 450px;
	background-color: white;
	}

.book{	
	margin-left: 80px; 
    text-shadow : 0px 1px 5px #3390FF;
}

.bntn{
width:250px;
margin-left: 90px;
height:50px;
border-width: 5px


}

.form-control{

	box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);
}
.para{
	color:lightgrey;
	font-size: 50px;
	text-align: center;
	vertical-align:bottom; 
}